:root{
    --primary:#EBA0A6;
    --secondary:#AFA3B4;
    --clear:#EABFA0;
    --dark:#3F3637;
    --alternative:#A485B3;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: var(--dark);
    color: var(--clear);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.5% 0;
}

.title-name{
    background-color: var(--primary);
    flex: 0 1 50%;
    color: var(--dark);
    border-radius: 0 15px 0 0;
    line-height: 1.5;
}

header nav{
    padding: 0 3.5%;
    align-self: flex-end;
    color: var(--secondary)
}

header nav a{
    padding-right: 2vw;
    flex-grow: 1;
}

.hero-display{
    background-image: url(./images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    height: 45vw;
}

.hero-display h2{
    background-color: var(--dark);
    color: var(--clear);
    margin-bottom: 25px;
    padding: 25px 25% 25px 25px;
    border-radius: 15px 0 0 0;
}

.about-me{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.about-me h2{
    width: 30%;
}

.about-me div{
    width: 70%;
}

.my-work{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.my-work h2{
    width: 30%;
}

footer {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

footer h3{
    width: 30%
}