:root{
    --primary:#EBA0A6;
    --secondary:#AFA3B4;
    --clear:#EABFA0;
    --dark:#3F3637;
    --alternative:#A485B3;
    font-size: 18px;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: var(--dark);
    color: var(--clear);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.5% 0;
}

.title-name{
    background-color: var(--primary);
    flex: 0 1 50%;
    color: var(--dark);
    border-radius: 0 15px 0 0;
    line-height: 1.5;
    padding-left: 1.5vw;
}

header nav{
    padding: 0 3.5%;
    align-self: flex-end;
    color: var(--secondary)
}

header nav a{
    padding-right: 2vw;
    flex-grow: 1;
}

.hero-display{
    background-image: url(./images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    height: 20vw;
    margin-bottom: 30px;;
}

.hero-display h2{
    background-color: var(--dark);
    color: var(--clear);
    margin-bottom: 25px;
    padding: 25px 25% 25px 25px;
    border-radius: 15px 0 0 0;
}

.about-me{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
}

.about-me h2{
    width: 20%;
    border-right: #EBA0A6 7px solid;
    margin: 0 20px 0 0;
    text-align: center;
}

.about-me div{
    width: 80%;
}

.about-me div p{
    /* width: 80%; */
    flex: 0 1 80%;
}



.my-work{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
}

.my-work h2{
    width: 20%;
    border-right: #EBA0A6 7px solid;
    margin: 0 20px 0 0;
    text-align: center;
}


.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px 30px 10px;
}

.card h4, .card p{
    background-color:#AFA3B4;
    color: #EABFA0;
}

.card1{
    background-image: url(./images/book.jpg);
    flex: 2 0 100% ;
}
.card2{
    background-image: url(./images/calculator.jpg);
    flex: 1 0 33% ;
}
.card3{
    background-image: url(./images/corgi.jpg);
    flex: 1 0 33% ;
}
.card4{
    background-image: url(./images/plane.jpg);
    flex: 1 0 100% ;
}
.card5{
    background-image: url(./images/rain.jpg);
    flex: 1 0 33% ;
}
.card6{
    background-image: url(./images/town.jpg);
    flex: 1 0 33% ;
}

footer {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    margin-bottom: 30px;
    align-items: center;
}

footer h3{
    width: 20%;
    margin: 0 20px 0 0;
    background-color: #EBA0A6;
    text-align: center;
    padding: 15px 15px
}

.contact-info{
    width: 100%;
}

.contact-info ul{
    display: flex;
    justify-content: space-evenly;
}

.contact-info ul li {
    list-style: none;
    flex-wrap: wrap;
}