:root{
    --primary:#EBA0A6;
    --secondary:#AFA3B4;
    --clear:#EABFA0;
    --dark:#3F3637;
    --alternative:#A485B3;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: var(--dark);
    color: var(--clear);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.5% 0;
}

.title-name{
    background-color: var(--primary);
    flex: 0 1 50%;
    color: var(--dark);
    border-radius: 0 15px 0 0;
}

header nav{
    padding: 0 3.5%;
    align-self: flex-end;
    color: var(--secondary)
}

header nav a{
    padding-right: 2vw;
    flex-grow: 1;
}
